// Colors

$black: #000;
$white: #fff;

$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;

$pink: pink;
$orange: orange;
$yellow: yellow;
$brown: brown;
$grey: grey;
$darkgrey: darkgrey;
$lightgrey: #eee;
$tan: tan;
$oldlace: oldlace;
$whitesmoke: whitesmoke;
$crimson: crimson;

$test: 20px 0;

// Fonts

$arvo: "Arvo", sans-serif;
$primaryFont: Arial, Helvetica, sans-serif;